In [17]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2
from IPython.display import display, HTML

In [2]:
%load_ext sql

# Get the params of the created redshift cluster and establish a database connection.

In [11]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

# Sample queries.

## 1 .Queries to get count of number of records in each table.

In [12]:
staging_events_1="select count(*) from sparkifydb.staging_events;"
staging_songs_1="select count(*) from sparkifydb.staging_songs;"
users_1="select count(*) from sparkifydb.users;"
artists_1="select count(*) from sparkifydb.artists;"
songs_1="select count(*) from sparkifydb.songs;"
songplays_1="select count(*) from sparkifydb.songplay;"
time_1="select count(*) from sparkifydb.time;"

In [22]:
def getNumberofRecords():
    ''' This function executes all the SQL queries that counts number
    of records from tables and displays all results in dataframe.'''
    
    queryResults  =[] 
    for i,query in enumerate([staging_events_1,staging_songs_1,users_1,artists_1,songs_1,songplays_1,time_1]):
        cur.execute(query)
        results = cur.fetchone()
        queryResults.append(results)
    return pd.DataFrame({"Table":["staging_events","staging_songs","users","artists","songs","songplay","time"], "Records":queryResults})#.set_index('query')

In [23]:
tableCount=getNumberofRecords()

In [24]:
display(HTML(tableCount.to_html()))

## 2. Queries to show first 10 records from each table to check if data inserted correctly.

In [44]:
staging_events="select * from sparkifydb.staging_events LIMIT 10;"
staging_songs="select * from sparkifydb.staging_songs LIMIT 10;"
users="select * from sparkifydb.users LIMIT 10;"
artists="select * from sparkifydb.artists LIMIT 10;"
songs="select * from sparkifydb.songs LIMIT 10;"
songplays="select * from sparkifydb.songplay LIMIT 10;"
time="select * from sparkifydb.time LIMIT 10;"

In [50]:
def getRecords():
     ''' This function executes all the SQL queries that selects 10 records from
     every table and displays in the dataframe.'''
    
    queryResults  =[] 
    for i,query in enumerate([staging_events,staging_songs,users,artists,songs,songplays,time]):
        print("#################################################################")
        print("Query:"+query)
        print("#################################################################")
        df= pd.read_sql_query(query, conn)
        display(HTML(df.to_html()))

In [51]:
getRecords()

#################################################################
Query:select * from sparkifydb.staging_events LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.staging_songs LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.users LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.artists LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.songs LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.songplay LIMIT 10;
#################################################################

#################################################################
Query:select * from sparkifydb.time LIMIT 10;
#################################################################

## 3. Query the songplay table to get the artist names of top 5 frequently played song.

In [75]:
# Select the most played song ID and the artist name corresponding to that song"

most_played_song_ID="SELECT s.song_id,COUNT(s.song_id) AS Frequency,s.artist_id, a.artist_name from sparkifydb.songplay as s JOIN sparkifydb.artists as a ON(a.artist_id=s.artist_id) group by s.song_id,s.artist_id,a.artist_name order by Frequency DESC LIMIT 5;"
df= pd.read_sql_query(most_played_song_ID, conn)
display(HTML(df.to_html()))

## Verify if the results obtained above

In [76]:

verifyQuery="SELECT s.song_id,a.artist_id,a.artist_name FROM sparkifydb.songs as s JOIN sparkifydb.artists as a ON(a.artist_id=s.artist_id) WHERE s.song_id IN('SOBONKR12A58A7A7E0','SOUNZHU12A8AE47481','SOHTKMO12AB01843B0','SOULTKQ12AB018A183','SOLZOBD12AB0185720');"

df= pd.read_sql_query(verifyQuery, conn)
display(HTML(df.to_html()))